{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Golang web application</title>
</head>
<link rel="stylesheet" href="/public/css/main.css">
<body>
<h2><p>BIASTEK: BLOCKCHAIN IN ACTION SHARING</p></h2>
{{end}}

{{define "footer"}}
<p>Copyright © 2020 biastek.com. All Rights Reserved</p>
</body>
</html>
{{end}}