{{template "header" .}}
<h1>GET THE HIGHEST PRIME NUMBER</h1>
<nav>
    <ul>
        <li><a href="/index">INDEX</a></li>
        <li><a href="/apply">GET PRIME NUMBER</a></li>
    </ul>
</nav>
{{template "footer" .}}
